<h1 class="section-title" id="projects" style="text-align: left;">Projects</h1>
<div class="project-subsection">
    @for (proj of projects; track proj) {
        <div class="project-item" tabindex="0" style="background-image: url('assets/screenshots/{{proj.screenshot}}.webp')"
            (click)="projectDialog(proj.name, proj.technologies, proj.year, proj.longDescription, proj.githubLink, proj.projectLink, proj.screenshot)">
            <h2 class="project-name">{proj.name} {@html proj.emoji}</h2>
            <h2 class="project-year">{proj.year}</h2>
            <h2 class="project-tech">{proj.technologies}</h2>
            <p>{proj.shortDescription}</p>
        </div>
    } @empty {
        <li> There are no projects.</li>
    }
</div>

